---
layout: landing
---
<!-- calculate offset to the last visible date -->
{% assign event_offset= 0 %}
{% for post in site.categories.event reversed %}
  {% if site.time > post.date %}
    {% assign event_offset=forloop.index %}
    {% break %}
  {% endif %}
{% endfor %}

<ul class="events-box">
    {% for post in site.categories.event reversed offset:event_offset limit:3 %}
    <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <img class="icon" src="/assets/partners/{{ site.orgs[post.organizer].image}}"/>
            {{ post.title }}
        </a>
     {% include event-metadata.html %}
    </li>
    {% endfor %}
</ul>
<h4><a href="_pages/events.html" class="pull-right">alle Events</a></h4>
<ul class="post-list">
    {% for post in site.categories.article limit:3 %}
    <li>
        <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <h5>{% include date_ger.html date=post.date %}</h5>
        <div>
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            {% if post.excerpt != post.content %}
            <a href="{{ post.url | prepend: site.baseurl }}">(weiterlesen...)</a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
<h4><a href="_pages/artikel.html">alle Artikel</h4>
