<header class="site-header">
    <nav class="navbar navbar-default">
      <a href="{{ site.baseurl }}/">
        <img class="navbar-image" alt="{{ site.title }}" src="{{ site.baseurl }}/assets/main/jug_final_small.png" />
        <span class="navbar-brand">JUG Ostfalen</span>
      </a>
      <input type="checkbox" id="slim-menu" /><label for="slim-menu"></label>
      <ul class="navbar-right">
          {% assign pages = site.pages | sort:"order"  %}
          {% for page in pages %}
          {% if page.title and page.order %}
          <li>
              <a href="{{ page.url | prepend: site.baseurl }}" class="navbar-menu-item">{{ page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
      </ul>
    </nav>

</header>
